.parallax-contenedor{
    position: relative; /* necesario para posicionar hijos en absolute*/
    height: 60vh;
    overflow: hidden; /* ocultar parte del fondo que no entre */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    text-align: center;
}

.parallax-bg{
    position: absolute;
    top: -20%; /* empezar un poco mas arriba para tener margen de movimiento*/
    left: 0;
    width: 100%;
    height: 140%;
   
    background-size:  cover;
    background-position: center center;
    /* z-index: -1; */
}

/* estilos para el lobo que acompaña el parallax*/
/* posicion inicial sera independinete para cada elemento */
.parallax-flotante{
    position: absolute;
    max-width: 150px;
    height: auto;
    z-index: 2;
    will-change: transform;
}

#flotante-1{
    bottom: 85%;
    left: 10%;
    width: 120px;
    
}
#flotante-2{
    bottom: 20%;
    left: -100%;
    width: 400px;
    height: 200px;
    object-fit: cover;
}

#flotante-3{
    bottom:0%;
    left: 15%;
    width: 180px;
}


.parallax-contenido{
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
    color: white;
}

.seccion.normal{
    min-height: 20vh; /* para poder hacer scroll*/
    padding: 40px;
    text-align: center;
    background-color: #f0f0f0;
}

@media (prefers-reduce-motion: reduce){
    .parallax-bg, .parallax-elemento-flotante{
        /* desactivar transitions, animaciones y efectos */
        transition: none;
    }
}